html, body
{
  height: 100%
}

body
{
  margin: 0;
  padding: 0;
}

.top
{
  height: 8%;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.top a
{
  padding-top: 5px;
  padding-left: 20px;
  font-size: 30px;
  float: left;
}

.top span
{
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  width: 300px;
}

.top input
{
  height: 34px;
  width: 250px;
  font-size: 14px;
  padding: 6px 12px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.navbar
{
  margin-bottom: 0;
  height:5%
}

.navbar-right
{
  padding-right: 50px;
}

.bottom
{
  height: 92%;
  width: 100%;
  margin: auto;
}

#map
{
  height: 100%;
  display: inline-block;
}

#search
{
  display: inline;
  position: absolute;
  height: 92%;
}

.uppersearch
{
  padding: 10px;
  height: 10%;
}

.uppersearch .header
{
  padding-left: 30px;
  font-size: 30px;
}

.uppersearch .glyphicon
{
  position: absolute;
  padding-top: 10px;
}

.bottom #map
{
  width: 100%;
}

.bottom.search #map
{
  width: 75%;
}

.bottom #search
{
  width: 0%;
}

.bottom.search #search
{
  width: 25%;
}

.innersearch
{
  padding: 0px 20px;
  height: 90%;
  overflow: scroll;
}
