/* Generic pane rules */
body { margin: 0 }
.crow, .ccol { overflow: hidden; position: absolute; }
.crow { left: 0; right: 0; }
.ccol { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.header.crow { height: 60px; top: 0; }
.body.crow { top: 60px; bottom: 0; }

.header
{
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.header a
{
  padding-top: 5px;
  padding-left: 20px;
  font-size: 30px;
  float: left;
}

.header span
{
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  width: 300px;
}

.header input
{
  height: 34px;
  width: 250px;
  font-size: 14px;
  padding: 6px 12px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.map.ccol { left: 0; right: 0; }
.results.ccol { width: 0; }

.search .map.ccol { left: 0; right: 350px; }
.search .results.ccol { width: 350px; right: 0; }

#map { height: 100%; }

.results.ccol .title { height: 60px; top 0; padding: 10px; }
.results.ccol .list { top: 60px; bottom: 0; padding: 15px; }

.title.crow .glyphicon
{
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
}

.bigfont
{
  padding-left: 50px;
  font-size: 30px;
}
